@charset "ISO-8859-1";

body{
	margin: 0;
}

.header {
  background-color: grey;
  text-align : center;
  color: white;
  padding: 15px;
}

.myForm{
	margin : auto;
	margin-top : 30px;
	width : 50%;
	border-radius: 15px;
	border : 1px solid #ddd;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formContent{
	padding : 8px;
	margin : 15px;
}

.input {
	border-radius: 15px;
	width : 400px;
	font-size: 15px;
	padding-left: 15px;
	border : 1px solid #ddd;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn{
	padding : 8px;
	margin : 15px;
	width : 400px;
	background-color: #2196F3;
	border : none;
	border-radius: 15px;
	height: 40px;
	color : white;
}